@tailwind base;
@tailwind components;
@tailwind utilities;

.marker-icon {
  width: 20px !important;
  height: 20px !important;
  text-align: center;

  border-radius: 50%;
}

.marker-icon.patrol {
  width: 10px !important;
  height: 10px !important;

  border-width: 1px;
  border-color: black;
}

.marker-icon.selected {
  background-color: teal;
}
